/* ===========VARIABLESS============= */
:root 
{
--main-font: 'Roboto', sans-serif;
--secondary-font: 'Raleway', sans-serif;
--primary-background: #FFFFFF;
--secondary-background: #2E2F42;
--primary-text-color: #2E2F42;
--accent-color: #4D5AE5;
--secondary-text-color: #434455;
}

*,
*::before,
*::after 
{
box-sizing: border-box;
}

.container
{
width: 1158px;
padding-left: 15px;
padding-right: 15px;
}

h1,h2,h3,h4,h5,h6,p 
{
margin: 0;
}

ul, ol
{
margin: 0;
padding: 0;
}

img
{
display: block;
}

body
{
font-family: var(--main-font);
font-size: 14px;
color: var(--secondary-text-color);
background-color: var(--primary-background);
margin: 0;
}

/* ===========GENERAL============= */

button {cursor: pointer;}

.link 
{
text-decoration: none;
}

.list
{
    list-style-type: none;
    font-style: normal;
    padding: 0;
    margin: 0;
}

.contact
{
    font-style: normal;
}

/* =============HEADER-LOGO==================== */

.logo-accent
{
color: var(--primary-text-color);
text-transform: uppercase;
} 

.logo-main
{
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--accent-color);
text-decoration: none;
margin-right: 76px;

}


.nav
{
display: flex;
direction: row;
}

.site-header
{
display: flex;
align-items: center;
}

.site-nav
{
display: flex;    
}

.contact-list
{
display: flex;

margin-left: 0;
}

.nav-item:hover,
.nav-item:focus 
{
color: #404bbf;   
}

.contact
{
font-style: normal;
list-style: none;
}

.nav-item 
{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--primary-text-color);
text-decoration: none;
list-style: none;
margin-right: 40px;
}

.nav-item:not(:last-child)
{margin-right: 0px;}

.contact-item:hover,
.contact-item:focus 
{
color: #404bbf ;   
}

.contact-item
{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--secondary-text-color);
font-style: normal;
text-decoration: none;
list-style: none;
margin-right: 40px;
}

.contact-item:not(:last-child)
{margin-right: 0px;}

/* =================HERO (section 1)=================== */
.hero 
{
background-color: var(--secondary-background);
text-align: center;
width: 1440px;
height: 600px;
}
.main{
    padding-top: 188px;
    padding-bottom: 188px;
}


.hero-main 
{
font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;

margin-left: 316px;
margin-right: 316px;

}

button
{
padding: 16px 32px;
gap: 10px;
background: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border-color: #4d5ae5;
}

.hero-button
{
font-family: Roboto, sans-serif; 
font-weight: 500;
font-size: 16px;
line-height: 1.5;
align-items: center;
letter-spacing: 0.04em;
color: #FFFFFF;
background-color: var(--accent-color);


margin-top: 48px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

.hero-button:hover
{
background-color: #404BBF;
}

.hero-button:focus 
{
background-color: #404BBF;
}

/* ==============Principles (section 2)=============== */

.list
{
display: flex;
justify-content: space-around;

}

.menu-name
{    
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--primary-text-color); 
text-align: center;
}

.item-descr
{    
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--secondary-text-color);
text-align: center;
}

/* ============GALLERY (section 3)================= */
.gallery
{      
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--primary-text-color);
}

.gallery-list-item
{
list-style-type: none; 
}

/* ===============OUR TEAM (section 4)================ */
.team {list-style-type: none;}

.team-list
{      
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--primary-text-color);
}

.team-card
{
background-color: #FFFFFF;
}

.team
{
background-color: #F4F4FD;
}

/* ===============FOOTER============= */

.logo-footer 
{
font-family: Raleway, sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--accent-color);
text-decoration: none;
margin-top: 100px;

}

.logo-footer-accent
{
color: #F4F4FD;
text-transform: uppercase;

}

.footer 
{
background-color: var(--secondary-background);
width: 1440px;
height: 312px;
padding-top: 100px;
padding-bottom: 100px;
}

.footer-descr
{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;

margin-top: 14px;
margin-right: 864px;
}



/* ================Portfolio============ */
.portfolio
{
display: flex;
justify-content: center;
margin-bottom: 72px;
}

.flex-container
{
width: 1158px;
padding-left: 15px;
padding-right: 15px;

display: flex;
flex-wrap:wrap;
margin-bottom: 120px;
}

.portfolio-item
{
margin-right: 24px;
}

.portfolio-item:nth-child(3n)
{
margin-right: 0;
}

.portfolio-menu
{
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: var(--accent-color);
background-color: #F4F4FD;
margin-right: 24px; 
}

.portfolio-menu:not(:last-child)
{margin-left: 0px;}

.portfolio-menu:focus,
.portfolio-menu:hover 
{
background-color: #404BBF;
color: #FFFFFF;
}

.portfolio-name 
{  
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;   
letter-spacing: 0.02em;
color: #2E2F42;
color: var(--primary-text-color);

}

.portfolio-descr 
{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--secondary-text-color);

}

